<!DOCTYPE html>
<html>
  <head>
    <title>Rocky {% if page.title %}{{ page.title }} – Rocky</title>

    {% include meta.html %}
    <meta charset="UTF-8">
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="Rocky - Default" />

    <!-- Created with Rocky - http://github.com/Rockycuxin/rockycuxin.github.io -->
  </head>

  <body>
    <div class="wrapper-masthead">
      <!DOCTYPE html>
<html>
  <head>
    <title>Rocky {% if page.title %}{{ page.title }} – Rocky</title>

    {% include meta.html %}
    <meta charset="UTF-8">
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="Rocky - Default" />

    <!-- Created with Rocky - http://github.com/Rocky-Co -->
  </head>

  <body>
    <div class="wrapper-masthead">
      <!DOCTYPE html>
<html>
  <head>
    <title>Rocky {% if page.title %}{{ page.title }} – Rocky</title>

    {% include meta.html %}
    <meta charset="UTF-8">
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="Rocky - Default" />

    <!-- Created with Rocky - http://github.com/rocky-co -->
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
